//this file contains all the variables for this SCSS 

$titleText:	Gothem;
$bodyText: Josephen Sans;

$orange: #F89921;
$yellow: #FAD928;
$lightBlue: #3CBEB7;
$middleBlue: #02696D;
$darkBlue: #02696D;