//This is the main scss file, it contains all the variables and imports to partial scss



//Variables
@import 'variables';


@import 'backgroundGradient';

body{
	margin: 0;
	padding: 0;
	border: 0;
	height: 100vh;
	width: 100vw;
}










