//This is the main scss file, it contains all the variables and imports to partial scss



//Variables
@import 'variables';


@import 'backgroundGradient';
@import 'content';

body{
	margin: 0;
	padding: 0;
	border: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
* {
	font-family: "Arial";
    font-variant: normal;
}










